LOCATE COMP "ARst_N" SITE "G2" ;
LOCATE COMP "Clk" SITE "A10" ;
FREQUENCY PORT "Clk" 12.000000 MHz ;
LOCATE COMP "Jtag_tck" SITE "H2" ;
LOCATE COMP "Jtag_tdo" SITE "J4" ;
LOCATE COMP "Jtag_tdi" SITE "J5" ;
LOCATE COMP "Jtag_tms" SITE "A15" ;
LOCATE COMP "Vref" SITE "G1" ;
LOCATE COMP "Sio_Tx" SITE "N1" ;
LOCATE COMP "Sio_Rx" SITE "E14" ;
LOCATE COMP "Spi_Miso" SITE "V2" ;
LOCATE COMP "Spi_Mosi" SITE "W2" ;
LOCATE COMP "Spi_Sck" SITE "K3" ;
LOCATE COMP "Spi_Ce_N" SITE "R2" ;
LOCATE COMP "I2C_Sda" SITE "G16" ;
LOCATE COMP "I2C_Scl" SITE "F1" ;
LOCATE COMP "Gpio[0]" SITE "E20" ;
LOCATE COMP "Leds[0]" SITE "A13" ;
LOCATE COMP "Leds[1]" SITE "A12" ;
LOCATE COMP "Leds[2]" SITE "B19" ;
LOCATE COMP "Leds[3]" SITE "A18" ;
LOCATE COMP "Leds[4]" SITE "B18" ;
LOCATE COMP "Leds[5]" SITE "C17" ;
LOCATE COMP "Leds[6]" SITE "A17" ;
LOCATE COMP "Leds[7]" SITE "B17" ;