*.rpt
*.done
*.dpf
*.rpt
*.summary
*.pin
*.pof
*.sof
db/
incremental_db/
*.bak
*.old
.sopc_builder/
*.qdf
*.jdi
*.mif
*.sdc
*.txt
*.html
*.ptf
*.0
*.pre_generation_ptf
*.qip
*.tcl~
*.sopcinfo
*.hex
.qsys_edit/
*.sld
*.smsg
*.tcl~
output_files/
greybox_tmp/
*.cmp